$font-family: 'Baloo 2', cursive;
$second-font-family: 'Bitter', serif;
$green-color: #00c170;
$red-color: #ff0000;
$black-color: #383838;
$white-color: #fff;
$light-grey-color: #f9f9f9;
$grey-color: #f1f1f1;
$font-size: 12px;